* {
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

a{
    color: white;
    text-decoration: none;
}

.titulo{
    color: white;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.parte_cima{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:blue;
    height: 8vh;
}

main{
    background-color: rgb(56, 56, 56);
    height: 92vh;
}

.login{
    position: absolute;
    right: 15px;
}

.login:hover{
    text-decoration: underline;
}

.nav_list{
    position: absolute;
    left: 0;
    display: flex;
    list-style: none;
}

.nav_list li{
    letter-spacing: 2px;
    margin: 10px;
    padding: 2px;
}

.nav_list li img{
    width: 25px;
}

.form_categorias{
    display: flex;
    justify-content: center;
    background-color: blue;
    color: white;
}

.categorias{
    width: 650px;
    display: flex;
    justify-content: center;
}

.nav_categorias{
    display: flex;
    list-style: none;
    font-weight: 300;
}

.nav_categorias li{
    letter-spacing: 1px;
    margin: 10px;
}

.img_rep1{
    width: 350px;
    height: 300px;
}

.reportagens{
    display: flex;
    flex-direction: row;

}

.rep_maior{
    border: solid black 2px;
    border-radius: 5px;
    width: 700px;
    height: 700px;
    align-items: center;
}

.rep_maior img{
    width: 700px;
    height: 500px;
}

.rep_maior h2{
    text-align: center;
}