* {
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

a{
    color: white;
    text-decoration: none;
}

.titulo{
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:blue;
    height: 8vh;
}

main{
    background-color: rgb(56, 56, 56);
    height: 92vh;
}

.categorias{
    list-style: none;
    display: flex;
    position: absolute;
    left: 0;
    width: 30vh;
    height: 92vh;
    background-color: blue;
    top: 8vh;
    justify-content: space-around;
    flex-direction: column;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
}

.categorias li{
    letter-spacing: 3px;
    margin-left: 0px;
    opacity: 0;
}

.menu{
    position: absolute;
    left: 15px;
    cursor: pointer;
}

.menu div{
    height: 2px;
    width: 32px;
    background-color: white;
    margin: 8px;
}

.login{
    position: absolute;
    right: 15px;
}

.login:hover{
    text-decoration: underline;
}

.categorias.active {
    transform: translateX(0);
}

@keyframes categorias_opacity{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}