@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../imagens/image.png');
    background-size: cover;
    background-position: center;
}

.container{
    width: 420px;
    background-color: transparent;
    border: 2px, solid, gray;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    padding: 30px 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    backdrop-filter: blur(2px);
}

.container h1{
    font-size: 36px;
    text-align: center;
}

.input_login{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input_login input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px, solid, gray;
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input_login input::placeholder{
    color: rgb(172, 172, 172);
}

.input_login i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    font-size: 20px;
}

.login_button{
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    background-color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.login_button:hover{
    background: wheat;
    border: 2px, solid, #333;
    color: black;
}

.cadastro_conta{
    font-size: 14px;
    text-align: center;
    margin: 20px, 0, 15px;
}

.cadastro_conta a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.cadastro_conta a:hover{
    text-decoration: underline;
}